<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include("../includes/nav.ejs") %>

    <main>
      <p>Home Page</p>
    </main>
    <%- include("../includes/end.ejs") %>